@import "./typography.scss";

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

button {
    background: transparent;
    border: none;
}

svg {
    fill: currentColor;
}

#main-content {
    position:relative;
}

#main-content>* {
    display:block;
}
